
<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table>
    <tr>
        <td>账单房号：<span th:text="${zd.room}"></span></td>
        <td>&nbsp;&nbsp;&nbsp;付款方：<span th:text="${zd.sfren}"></span></td>

    </tr>
    <tr>
        <td>
            <br>
        </td>
    </tr>
    <tr>
        <td>账单金额：<span th:text="${zd.zdmoney}"></span></td>
        <td>&nbsp;&nbsp;&nbsp;账单类型：<span th:text="${zd.zdType}"></span></td>

    </tr>
    <tr>
        <td>
            <br>
        </td>
    </tr>
    <tr>
        <td>账单时效：<span th:text="${zd.startdate}"></span>至<span th:text="${zd.entdate}"></span></td>
        <td></td>

    </tr>
    <tr>
        <td>
            <br>
        </td>
    </tr>
    <tr>
        <td>预计付款时间：<span th:text="${zd.sfString}"></span></td>
        <td></td>

    </tr>
</table>
