<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script  th:src="@{/js/jquery.min.js}"></script>
<script  th:src="@{/bootstrap3/js/bootstrap.js}"></script>
<link rel="stylesheet" th:href="@{/bootstrap3/css/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/js/toastr.min.css}"></link>
<link rel="stylesheet" th:href="@{/js/bootstrap-table/bootstrap-table.css}"></link>
<link rel="stylesheet" th:href="@{/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}"></link>
<script  th:src="@{/js/toastr.min.js}"></script>
<script  th:src="@{/js/bootstrap-table/bootstrap-table.js}"></script>
<script  th:src="@{/js/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script  th:src="@{/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script  th:src="@{/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script  th:src="@{/js/bootbox/bootbox.all.min.js}"></script>
<script  th:src="@{/js/toastr.min.js}"></script>
<link rel="stylesheet" th:href="@{/js/toastr.min.css}"></link>
<link rel="stylesheet" th:href="@{/js/bootstrap-treeview/bootstrap-treeview.min.css}"></link>
<link rel="stylesheet" th:href="@{/js/bootStrap-addTabs/bootstrap.addtabs.css}"></link>
<script  th:src="@{/js/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script  th:src="@{/js/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
<script  th:src="@{/js/bootstrap-fileinput/js/fileinput.js}"></script>
<link rel="stylesheet" th:href="@{/js/bootstrap-fileinput/css/fileinput.css}"></link>
<script  th:src="@{/js/uploadify/jquery.uploadify.min.js}"></script>
<link rel="stylesheet" th:href="@{/js/uploadify/uploadify.css}"></link>


</body>
</html>