
<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
账单所属<input type="text" th:value="${zd.room}" disabled><br/>
账单金额 <input type="text" th:value="${zd.zdmoney}" disabled><br/>
实付金额 <input type="text" th:value="${zd.zdmoney}" disabled><br/>
付款方<input type="text" th:value="${zd.sfren}" disabled><br/>

账单类型 <input type="text" th:value="${zd.zdType}" disabled><br/>
账单时效 <input type="text" th:value="${zd.startdate}" disabled>至<input type="text" th:value="${zd.entdate}" disabled><br/>
预计付款时间<input type="text" th:value="${zd.sfDate}" disabled><br/>
支付方式<input type="text" th:value="${zd.zfFangShi}" disabled><br/>
支付时间<input type="text" th:value="${zd.zfdate}" disabled><br/>
确认时间<input type="text" th:value="${zd.zfdate}" disabled><br/>
备注<input type="text" th:value="${zd.beizhu}" disabled><br/>