<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Title</title>
</head>



<form method="post" id="dsform">
    <input type="hidden" th:value="${zd.szId}" name="szId">
    <table>
        <tr>
            <td>实收金额:</td>
            <td>
                <input type="text" style="width:45%" class="form-control"  th:value="${zd.zdmoney}"  name="sfmoney"  placeholder="实收金额">
            </td>



            <td>应收金额:</td>
            <td>
                <span th:text="${zd.zdmoney}"></span>
            </td>

        </tr>

        <tr>
            <td>付款方式:</td>
            <td>
                <select class="form-control" name="zfFangShi">
                    <option value="0" selected>现金
                    <option value="1">现金
                    <option value="2">支付宝
                    <option value="3">微信
                    <option value="4">转账
                </select>

            </td>

            <td>付款时间:</td>
            <td>
                <input class='form-control' type="text"  name="zfdate" th:value="${zd.zfdate}"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" /><br>

            </td>

        </tr>



    </table>

    <tr>
        <td>备注:</td>
        <td>
            <textarea  class="form-control" name="beizhu" rows="5" cols="45"></textarea><br>
        </td>

    </tr>
</form>
