<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="mongoForm">
   <input type="hidden"   name="szId"  th:value="${zd.szId}">
    账单房号:<input type="text"  class="form-control" th:value="${zd.room}"  name="room"  placeholder="账单房号"><br>

    账单金额:<input type="text"  class="form-control" th:value="${zd.zdmoney}"  name="zdmoney"  placeholder="实付金额"><br>
    账单类型:<input type="text"  class="form-control" th:value="${zd.zdType}"  name="zdType" width="100"  placeholder="账单类型"><br>

    账单时效<input class='Wdate' type="text"  name="startdate" th:value="${zd.startdate}" />至
            <input class='Wdate' type="text"  name="entdate" th:value="${zd.entdate}"  /><br>


    预计付款时间<input class='Wdate' type="text"  name="zfdate" th:value="${zd.zfdate}"  /><br>



    <!-- <input class='Wdate' type="text" name="createTime" onclick="WdatePicker  ({dateFmt:'yyyy-MM-dd'})"> -->
</form>
</body>


</html>